<!Doctype html>
<html>
    <head>
        <link rel="icon" href="https://img.onl/zSkY1H" type="image/x-icon" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Audio Filter</title>
        <link rel="stylesheet" href="Audio Filter.css">
    </head>
    <body>
        <div class="container">
            <h1>Audio</h1>

            <img src="/static/icon.png" height="250" width="250" alt="image"/>

            <h1>Filter</h1>
            
        </div>

        <div style="text-align:center;" class="container7">

            <h2> 使用方法 </h2>

        </div>

        <div class="container8">

            <div class="container11">

                1.

            </div>
                
            

            <div class="container12">
                按下"上傳音檔"並選取欲過濾之音檔<br/>
                (過濾前可以先試聽喔 ~ ~)
            </div>



        </div>

        <div class="container9">

            <div class="container15">3.</div>


            <div class="container12">

                按下"下載音檔"來下載過濾後之音檔<br/>
                    (下載前也可以先試聽喔 ~ ~)

            </div> 

        </div>

        <div class="container9">

            <span style='font-size:150px;'>&#8594;</span>

        </div>



        <div class="container10">

            <div class="container13">2.</div>
            
            <div class="container14">按下"聲音過濾"以開始過濾音檔</div>

        </div>

        <div class="container9">

            <span style='font-size:150px;'>&#8594;</span>

        </div>

        <div>

            <img src="number1.png" height="175" width="130" alt="image"/>

            <img src="upload.png" height="250" width="200" alt="image"/>

            <img src="upload.png" height="1000" width="800" alt="image"/>

            <img src="number2.png" height="175" width="130" alt="image"/>

            <img src="filt.png" height="1000" width="800" alt="image"/>

            <img src="number3.png" height="175" width="130" alt="image"/>

            <img src="download.png" height="1000" width="800" alt="image"/>

        </div>

        <div class="container8">
            <img src="upload.png" height="1000" width="800" alt="image"/>

            <img src="test.png" height="1000" width="800" alt="image"/>

        </div>
        <img src="test.png" height="1000" width="800" alt="image"/>

        <p>  &rArr; &rarr;  </p>

















    </body>
</html>