<!Doctype html>
<html>
    <head>
        <link rel="icon" href="https://img.onl/zSkY1H" type="image/x-icon" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Audio Filter</title>
        <link rel="stylesheet" href="Audio Filter.css">
    </head>
    <body>
        <div class="container">
            <h1>Audio</h1>

            <img src="/static/icon.png" height="250" width="250" alt="image"/>

            <h1>Filter</h1>
            
        </div>

        <div class="container2">

            <button class="a" type="button" style="width:200px; height:50px;"><b>上傳音檔</b></button>

        </div>

        <div class="container2">

            <button class="a" type="button" style="width:200px; height:50px;"><b>聲音過濾</b></button>
    
        </div>

        <div class="container2">

            <button class="a" type="button" style="width:200px; height:50px;"><b>下載音檔</b></button>
            
        </div>







    </body>
</html>