<!Doctype html>
<html>
    <head>
        <link rel="icon" href="https://img.onl/zSkY1H" type="image/x-icon" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Audio Filter</title>
        <link rel="stylesheet" href="/static/Audio Filter.css">
    </head>
    <body>
        <div class="container">
            <h1>Audio</h1>

            <img src="/static/icon.png" height="250" width="250" alt="image"/>

            <h1>Filter</h1>
            
        </div>

        <div class="container3">

            <form action="file:///D:/%E5%A4%A7%E5%AD%B8/%E4%B8%89%E4%B8%8B/%E6%9E%B6%E7%B6%B2/%E6%9E%B6%E8%A8%AD%E7%B6%B2%E7%AB%99%E6%AA%94%E6%A1%88/Audio%20Intro.html">

            <button class="b" type="submit"  onclick="window.location.href='/AudioIntro.html'" style="width:300px; height:150px;"><b>網站簡介</b></button>

            </form>
        
        </div>

        <div class="container4">

            
            <form method="GET" action="AudioProcess.html">

            <button class="b" type="submit" style="width:300px; height:150px;"><b>使用方法</b></button>

            </form>
            
        
        </div>

        <div class="container5">

            <form action="file:///D:/%E5%A4%A7%E5%AD%B8/%E4%B8%89%E4%B8%8B/%E6%9E%B6%E7%B6%B2/%E6%9E%B6%E8%A8%AD%E7%B6%B2%E7%AB%99%E6%AA%94%E6%A1%88/Audio%20Filter.html">

                <button class="b" type="submit" onclick="window.location.href='/AudioFilter'" style="width:300px; height:150px;"><b>聲音過濾</b></button>
                
            </form>

        </div>






    </body>









</html>