<!Doctype html>
<html>
    <head>
        <link rel="icon" href="https://img.onl/zSkY1H" type="image/x-icon" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Audio Filter</title>
        <link rel="stylesheet" href="Audio Filter.css">
    </head>
    <body>
        <div class="container">
            <h1>Audio</h1>

            <img src="/static/icon.png" height="250" width="250" alt="image"/>

            <h1>Filter</h1>

            
        </div>

        <div style="text-align:center;" class="container7">

            <h2> 網站簡介</h2>

        </div>

        <div style="text-align:center;position:relative; z-index:999; top:0;" class="container6">

                本網站係由中央大學110學年度AI人工智慧專題第三組同學於張家凱教授指導下所架設的網站。

                目的在於解決後疫情時代及元宇宙的到來下，良好的線上會議體驗日趨重要，語音更逐漸取代外表所帶
                
                給人的第一印象所帶來的聲音問題。鑒於語音愈發重要，因此，說話時的每個細節都顯得更加重要。上至表達內容，下至個人聲線，無一不影
                
                響聽者在線上會議的參與度。其中，冗言贅字所帶給聽者的困擾更是許多人的切身之痛。因此，我們將
                
                設計一套藉由CNN以及U-net架構之AI神經網路下，可應用於線上會議、編輯影片使用的輔助程式—Audio Filter，刪除冗言贅字以優化語音品質
                
                ，幫助聽者提升對於會議內容的專注度。由於本專題仍處於實驗階段，因此本網站的功能將限縮於上傳公眾人物-柯文哲的
                
                音檔並刪去其言談中冗言贅字的展示性功能為主。


        </div>

        

















    </body>
</html>