<!Doctype html>
<html>
    <head>
        <link rel="icon" href="https://img.onl/zSkY1H" type="image/x-icon" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Audio Filter</title>
        <link rel="stylesheet" href="/static/Audio Filter.css">
    </head>
    <body>
        <div class="container">
            <h1>Audio</h1>

            <img src="/static/icon.png" height="250" width="250" alt="image"/>

            <h1>Filter</h1>
            
        </div>

        <div class="container2">

            <!--button class="a" type="button" style="width:200px; height:50px;"><b>上傳音檔</b></button-->
            <input type="file" id="actual-btn" hidden/>
            <label for "actual-btn">上傳檔案</label>
        </div>

        <div class="container2">

            <button class="a" type="button" style="width:200px; height:50px;"><b>聲音過濾</b></button>
    
        </div>

        <div class="container2">

            <button class="a" type="button" style="width:200px; height:50px;"><b>下載音檔</b></button>
            
        </div>

        <div class="audio-container">
        <div class="audio"></div>
        <div class = "buttons">

             <span class="play-btn btn">
                <i class="fa-solid fa-circle-play"></i>
                <i class="fa-solid fa-circle-pause"></i>
             </span>

             <span class="'stop-btn btn">
                <i class="fa-solid fa-circle-stop"></i>
             </span>

             <span class="mute-btn btn">
                <i class="fa-solid fa-volume-high"></i>
                <i class="fa-solid fa-volume-xmark"></i>
             </span>

             <input type="range"
              min="0"
              max="1"
              step="0.1"
              value="0.5"
              class="volume-slider" />
            </div>
        </div>
        <script src="https://unpkg.com/wavesurfer.js"></script>
        <script src="main.js"></script>







    </body>
</html>